.container-fluid {
    max-width: 1310px;
}

.navbar-top {
    min-height: 50px;
    font-size: 17px;
    background-color: #f72210;
    color: white;
}

.weather-icon {
    margin-right: 5px;
}

#login-btn {
    font-weight: bold;
    display: inline;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 85px;
    margin-top: 2px;
}

#sub-btn {
    border-radius: 20px;
    height: 29.6px;
    width: 127px;
    border: none;
    font-weight: bold;
    background-color: #FFE400
}

.temp-day {
   line-height: 2;
   margin-bottom: 15px;
   font-size: 16px;
}

.burger-menu {
    margin-left: 15px;
}

.burger {
    cursor: pointer;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 4px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.55);
}

.top-list {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin-top: 10px;
    max-width: 95%;
  }

.list-item {
    border-left: 1px solid black;
    font-weight: bold;
    font-size: 17px;
    display: inline;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #d9d9d9;
    padding-left: 10px;
    padding-right: 5px;
}

.no-border {
    border: none;
    padding-left: 0;
}

#search-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.search-bar {
    color: grey;
    font-size: 17px;
}

.bot-list {
    list-style-type: none;
    display: inline;
    padding: 0;
    width: 60%;
    margin-left: 20px;
}

.nav-item {
    font-weight: bold;
    font-size: 14px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.grey {
    color: grey;
}

.bold {
    font-weight: bold;
}

.picture-info {
    font-size: 18px;
}

.big-article-info {
    font-size: 15px;
}

.article-margin {
    margin-top: 15px;
}

#temperature {
    font-weight: bold;
}

.main-title-lg {
    font-size: 76px;
    height: 95px;
    font-family: monospace, arial, sans-serif;
    font-weight: bold;
}

.main-title-md {
    font-size: 23px;
    font-family: monospace, arial, sans-serif;
    font-weight: bold;
}

.stories {
    min-height: 8008px;
}

.big-article-img {
    max-width: 100%;
}

.float-left {
    float: left;
}

.float-img {
    margin-right: 2px;
    margin-top: 10px;
}

.clear {
    clear: both;
}

.small-img {
   max-height: 135px;
   max-width: 135px;
}

.flex-item {
    width: 30%;
}

.small-font {
    font-size: 15px;
}


.magazine {
    height: 917px;
    background-color:black;
}

.editors-pick {
    height: 877px;
    background-color: grey;
}

.us {
    height: 400px;
    background-color:black;
}


